*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Ẩn thanh cuộn trong tất cả các trình duyệt hỗ trợ Webkit (Chrome, Safari, Edge)
body {
    overflow: scroll; /* Bật tính năng cuộn */
/* } */

/* body::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
/* } */ 

/* Với Firefox */
/* html {
    scrollbar-width: none; Ẩn thanh cuộn trên Firefox */
/* } */ 

header{
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    height: 70px;
    align-items: center;
    background-color: rgba(223, 230, 233,1.0);
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    flex: 1;
}
.menu{
    flex: 2;
    display: flex;
    justify-content: center;
}
.menu li {
    padding: 15px 20px;
}
.menu li a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.menu li a:hover{
    color: rgba(72, 84, 96,1.0);
}
.menu li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgba(48, 57, 82,1.0);
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
    opacity: 0.5; /* Làm mờ nhẹ */
    filter: blur(2px); /* Bắt đầu với hiệu ứng mờ */
}
.menu li a:hover:after {
    width: 100%;
    opacity: 1; /* Hiện rõ dần */
    filter: blur(0); /* Hết mờ */
}
.other{
    flex: 2;
    display: flex;
    justify-content: space-between;
}
.other > li {
    padding: 0px 12px;
}
.other > li:first-child {
    position: relative;
    padding: 0px;
}
.other > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: rgba(223, 230, 233,1.0);
}
.other > li:first-child i{
    position: absolute;
    right: 2px;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}
.ss-item{
    align-items: center;
    flex-basis: 25%;
    padding: 20px 20px;
}
.ss-item:hover{
    transform: scale(1.15);
    transition: transform 0.25s ease-in-out;
}
.ss-img img{
    width: 100%;
}
.ss-info{
    text-align: center;
}
.ss-name{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
}
.ss-number{
    color: #888;
}